input {
  width: 40%;
  padding: 5px 5px;
  margin: 8px 5px;
  box-sizing: border-box;
}

input:focus {
  border: 1px solid #555;
}

button {
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}